
<% # panel-default", "panel-primary", "panel-success", "panel-info", "panel-warning", "panel-danger" %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <ul class="pager">
      <% if @previous_page_path %>
        <li class="previous"><%= link_to("上一頁", next_page_path(next_page_path: @previous_page_path), remote: true) %></li>
      <% end %>
      <% if @next_page_path %>
        <li class="next"><%= link_to("下一頁", next_page_path(next_page_path: @next_page_path), remote: true) %></li>
      <% end %>
    </ul>
  </div>
  <div class="panel-body">
  
    <div class="search_result">
      <% @mixes.each do |mix| %>
        <% previe_hash   = mix.info[:preview] %>
        <% duration      = previe_hash[:duration] %>
        <% tracks_count  = previe_hash[:tracks_count] %>
        <% cover_urls    = previe_hash[:cover_urls] %>

        <% tags_list     = previe_hash[:tag_list_cache].split.map {|tag| tag.gsub(/,|\./, '').gsub(/#/, '')} %>
        <% play_counts   = previe_hash[:plays_count] %>
        <% likes_count   = previe_hash[:likes_count] %>
        <% mix_id        = previe_hash[:id]  %>

        <% # Hide and show content %>
        <div class="content-exchange-box">
          <%= link_to(image_tag(cover_urls, class: 'img-rounded visible', size: '200x200'), '#') %>
          <div id="hidden-content-link-to-show-mix">

            <%= link_to(content_tag(:div, ''), 
                        {controller: :mixes, action: :show, mix_id: mix_id}, 
                        class: 'hidden-link',
                        id: 'link-to-show-mix-page', 
                        remote: true) %>
            
            <div class="tags-list-cache">
              <% tags_list.each do |tag| %>
                <span class="label label-default"><%= tag %></span>
              <% end %>
            </div>
            <div class="play-counts">
              <span><%= number_with_delimiter(play_counts) %> 播放次數</span>
            </div>
            <div class="like-counts">
              <%= number_with_delimiter(likes_count) %> <span class="glyphicon glyphicon-heart" style="color:red;"></span>
            </div>

            <% # Link to Mix Show Page %>
            <div class="play-btn">
              <a href="<%= home_path %>"><span class="glyphicon glyphicon-play"></span></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <span>Footer content</span>
  </div>
</div>

<script>
  $(".content-exchange-box").on('ajax:beforeSend', function (status, xhr, settings) {
    // body...
    xhr.abort();
  });
</script>