<div class="mix-show-page">
  <table>
    <tr>
      <td class="img-container">
      <% if @mix_name.present? %>
        <div id="mix-name-container"><span id="mix-name"><%= @mix_name %></span></div>
      <% end %>
        <%= image_tag(@mix_cover_url, class: "img-body", size: "521x521") %>
        <div id="play-btn-lg">

          <% # Play btn link %>
          <%= link_to(content_tag(:span, 
                                  nil, 
                                  class: "glyphicon glyphicon-play"), 
                      play_url(play: {mix_id: @mix_id}), 
                      remote: true) %>
        </div>
      </td>
      <td class="glyphicon-container">
        <% like_color = @mix_liked_by_current_user ? 'LightPink' : 'LightGray' %>

        <% # Toggle Mix like and change the color of heart %>
        <%= link_to(content_tag(:span, nil, id: "toggle-like-heart" ,class: "glyphicon glyphicon-heart", style:"color:#{like_color}"), 
                    {controller: :eight_track_actions, action: :toggle_like, kind_and_id: { kind: :mix, id: @mix_id }},
                    remote: true) %>

        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-share"></span>
        <div class="share-container">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
      </td>
      <td class="mix-dj-info">
        <table>
          <tr>
            <td rowspan="3"><%= image_tag(@user_avatar) %></td>
            <td     id="dj-name"      ><%= @user_login.capitalize %></td>
            <tr><td id="dj-location"  ><%= @user_location.capitalize %></td></tr>
            <tr><td id="dj-follow-btn"><button>Follow</button></td></tr>
          </tr>
          <tr>
          	<td id="commercial" colspan="2">Commercial Area</td>
          </tr>
          <tr><td id="dj-mixes" colspan="2">DJ Mixes goes here...</td></tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="3" class="mix-info">
        <hr/>
        標籤: <% @tag_list_cache.each do |tag| %>
               <span><%= link_to(tag, hot_tags_search_path(keyword: tag), remote: true) %></span>
             <% end %>
        <br/>
        <% if @mix_genres.count > 0 %>
          類別: <% @mix_genres.each do |genre| %>
        	       <span><%= link_to(genre, hot_tags_search_path(keyword: genre), remote: true) %></span>
               <% end %>
        <% else %>
          類別: 未分類!
        <% end %>
        <br/>
        歌手: <% @mix_artists.each do |artist| %>
        	   <%= link_to(artist, search_path('keyword' => {'smart_type' => 'artist', "sort" => "popular", "words" => artist }), remote: true) %>
        	 <% end %>
      </td>
    </tr>
  </table>   
</div>

<script>
  //$("body").off('ajax:beforeSend');
  //$('body').on('ajax:beforeSend', function (status, xhr, settings) {
  //  xhr.abort();
  //});
</script>