
<div class="dropdown">

  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    <%= image_tag('user_icon.png', size: "35x35") %>
    <span class="caret"></span><%= '  ' + current_user_name %>
  </button>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
      <% if user_logged_in? %>
      <% # user login logic %>
        <%= link_to('登出', logout_path, role: "menuitem", tabindex: "-1") %>
        <li role="presentation">
          <%= link_to('控制台', '#', role: "menuitem", tabindex: "-1") %>
        </li>
      <% else %>
        <% # user NOT login logic %>
        <%= link_to('登入',  login_path, role: "menuitem", tabindex: "-1") %>
      <% end %>
    </li>
    <li role="presentation"><a role="menuitem" tabindex="-10" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>

  </ul>
</div>