<!DOCTYPE html>
<html>
<head>
  <title>SoundHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% # javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap_3_CDN_load' %>
</head>
<body>

<header>
  <%= render 'layouts/header' %>
</header>

<div class="notification">
  <%= render "shared/flash_messages" %>
</div>

<div class="top_level_container container-fixed">
  <div class="row">
    <div class="left_container col-md-3"><h4>Left Container col-md-3</h4></div>
    <div class="main_container col-md-6">
      <!-- Before yield -->
      <%= yield %>	
      <!-- After yield -->
    </div>
    <div class="right_container col-md-3"><h4>right_container col-md-3</h4></div>
  </div>
</div>

<footer>
  <hr />
  <div class="debug_area">
  	<% if Rails.env == 'development' %>
  	  <%= debug(params) %>
  	<% end %>
  </div>
</footer>

</body>
</html>
