<!DOCTYPE html>
<html>
<head>
  <title>SoundHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap_load' %>
</head>
<body>

<header>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">

      <ul class="nav_links">
      	<li><span class="banner_title"><%= link_to 'Sound Hunter', home_path %></span></li>
      	<li>link2</li>
      	<li>link3</li>
      	<li>link4</li>
      </ul>

    </div>

    <div class="col-md-6 col-lg-6 col-sm-6">
      <ul class="nav_links" style="margin-right:59px;">
      	<li>link2</li>
      	<li>link3</li>
      	<li><a href="<%= login_path %>">登入</a> </li>
      </ul>
    </div>
  </div>
</header>


<div class="main_content">

<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-4"></div>
  <div class="col-md-4 col-lg-4 col-sm-4">
    <!-- Before yield -->
    <%= yield %>	
    <!-- After yield -->
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4"></div>
</div>

<footer>
  <hr />
  <div class="debug_area">
  	<% if Rails.env == 'development' %>
  	  <%= debug(params) %>
  	<% end %>
  </div>
</footer>



</body>
</html>
